@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroundColor: #fef852;
  --backgroundColorSecondary: #fffc94;
  /* --textPrimaryColor: #2a2a2a; */

  --headlineBig: clamp(3rem, 10vw, 15rem);
  --headlineSmall: clamp(1rem, 1.2vw, 6rem);
}

body {
  font-family: "Montserrat", sans-serif;
  /* background-color: var(--backgroundColor); */
}

.reveal {
  /* background: var(--backgroundColor); */
  padding-left: 20%;
  padding-right: 10%;
}

.reveal-text {
  font-weight: 800;
  font-size: var(--headlineBig);
  line-height: var(--headlineBig);
  color: rgba(255, 255, 255, 0.6);
  filter: drop-shadow(0 0 0.03rem rgb(2, 2, 2));
}

.spacing-small {
  height: 50vh;
}

.spacing {
  height: 100vh;
}

@media screen and (max-width: 767px) {
  .reveal {
    padding-left: 20px;
    padding-right: 20px;
  }
}
